@model MyPlayListApp.Data.ViewModels.SingerDTO


<div class="modal fade" id="addSingerModal" tabindex="-1" aria-labelledby="addSingerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSingerModalLabel">Add New Singer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Singer Image</label>
                        <br />
                        <input id="ImageFile" type="file" class="form-control-file" name="ImageFile" required />
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Name</label>
                        <input id="Name" name="Name" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Date of Birth</label>
                        <strong>(Must Be Older Than 3 Years)</strong>
                        <input id="DateOfBirth" name="DateOfBirth" type="date" class="form-control" required max="@DateTime.Now.AddYears(-3).ToString("yyyy-MM-dd")" />
                    </div>

                    <br />
                    <button type="button" onclick="AddSinger()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<script>
    function AddSinger() {
        let formData = new FormData();
            formData.append("Name", $("#Name").val());
            formData.append("DateOfBirth", $("#DateOfBirth").val());
            formData.append("ImageFile", $("#ImageFile")[0].files[0]);
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '@Url.Action("AddNewSinger", "Home")',
            data:  formData,
            contentType: false,
            processData: false,
            success: function (e) {
                alert(e.message);
                window.location.reload();
            },
            error: function (e) {
                alert(e.message);
            }
        });
    }
</script>