@model MyPlayListApp.Data.ViewModels.SongDetailes

<div class="modal fade" id="editSongModal" tabindex="-1" aria-labelledby="editSongModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSongModalLabel">Edit Song</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="Id" id="Id" />
                    <div class="form-group mb-3">
                        <label asp-for="Name">Song Name</label>
                        <input asp-for="Name" id="Name" class="form-control" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="SingerId">Singer</label>
                        <select asp-for="SingerId" id="SingerId" class="form-control"
                                asp-items="@Model.Singers" required>
                        </select>
                        <span asp-validation-for="SingerId" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId" id="CategoryId" class="form-control"
                                asp-items="@Model.Categories" required>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" onclick="UpdateSong()" class="btn btn-primary">Update</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    function UpdateSong() {
    const modal = $('#editSongModal');

    let formData = new FormData();

    formData.append("Id", modal.find("#Id").val());
    formData.append("Name", modal.find("#Name").val());
    formData.append("SingerId", modal.find("#SingerId").val());
    formData.append("CategoryId", modal.find("#CategoryId").val());

        console.log(formData);
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: '@Url.Action("UpdateSong", "Home")',
            data: formData,
            processData: false,
            contentType: false,
            success: function (e) {
                alert(e.message);
                window.location.reload();
            },
            error: function (e) {
                alert(e.message);
            }
        });
    }
</script>
